.test-content {
    padding: 2%;
    border: 2px solid #cc5561;
    border-radius: 24px;

    &__form {
        padding: 2%;
        border: 2px solid #cc5561;
        border-radius: 24px;
    }

    &__cookie {
        padding: 2%;
        border: 2px solid #cc5561;
        border-radius: 24px;
    }
}
