.test-content {
    padding: 2%;

    &__form {
        padding: 2%;
    }

    &__cookie {
        padding: 2%;
        height: 4.2rem;
    }

    &__split {
        height: 4.2rem;
    }

    &__text {
        height: 4.2rem;
    }

    button {
        max-height: 3rem;
    }
}
